.collapsed-form-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: rgb(138, 9, 95);
  font-size: 18px;
  color: white;
}

.collapsed-form-mode:hover {
  transform: scale(0.99);
}

.collapsed-form-mode > i {
  font-size: 25px;
}
