.education-input-form {
  /* border: 2px solid red; */
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(134, 13, 128);
  margin-top: 5px;
  min-width: 300px;
}

input {
  /* border: 2px solid red; */
  border: none;
  margin-top: 10px;
  letter-spacing: 1.5px;
}

input:focus {
  border: none;
  outline: none;
}

.buttons {
  font-size: 15px;
  font-weight: 600;
  /* padding: 15px 0; */
  border: none;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
