.expand-mode-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(138, 9, 95);
  margin-top: 25px;
}

.expand-mode-btn > * {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.expand-mode-btn:hover {
  transform: scale(1);
}
