.input-field {
  /* border: 2px solid red; */
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  gap: 2px;
}

input,
textarea {
  /* border: 2px solid blue; */
  border: none;
  padding: 7.5px;
  outline: none;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

input:focus,
textarea:focus {
  /* background-color: rgb(230, 226, 226); */
  color: black;
  border: none;
}

label {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

textarea {
  max-width: 300px;
  font-style: italic;
}
