* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.personal-details-form {
  background-color: rgb(138, 9, 95);
  padding: 10px 20px;
  border-radius: 10px;
  min-width: 300px;
}

.heading {
  color: white;
  font-weight: 600;
  font-size: 32px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.add-btn {
  color: rgba(138, 9, 95, 0.904);
  background-color: rgb(244, 245, 247);
  font-weight: 900;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
}

.reset-btn {
  color: white;
  background-color: rgb(114, 112, 112);
  font-weight: 900;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
}

button:hover {
  transform: scale(1.1);
}
